<div *ngIf="!isEditMode">
    <!-- Read-only view -->
    <p>Patient Name: {{ patient.name }}</p>
    <p>Details: {{ patient.details }}</p>
    <button (click)="toggleEditMode()">Edit</button>
  </div>
  
  <div *ngIf="isEditMode">
    <!-- Editable view -->
    <input data-testid = "name" [(ngModel)]="patient.name" />
    <input data-testid="details" [(ngModel)]="patient.details" />
    <button (click)="saveChanges()">Save</button>
    <button (click)="toggleEditMode()">Cancel</button>
  </div>
  